/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.slider-wrapper { position: relative; overflow:hidden;}
.slider-wrapper.photo-detail { }
.slider-wrapper.photo-detail nav {
	height: 60px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	position: relative;
	z-index: 6;
}
.slider-wrapper.photo-detail nav a {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d8d8d8;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: center center;
}
.slider-wrapper.photo-detail nav a.share{ background-image: url(../images/material/icon-share.png); }
.slider-wrapper.photo-detail nav a.more{ background-image: url(../images/material/icon-more2.png); }
.slider-wrapper.img-slider{ margin-bottom:100px; overflow:hidden; }
.nivoSlider {
	position: relative;
	width: 100%;
	height: auto;
	overflow-y: visible;
}
.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 6;
	display: none;
	background: white;
	filter: alpha(opacity=0);
	opacity: 0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
}
.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
}
.nivo-box img { display: block; }
/* Caption styles */

.nivo-caption {
	position: absolute;
	left: 0px;
	bottom: 0px;
	color: #fff;
	z-index: 8;
	overflow: hidden;
	display: none;
	border: 5px solid #fff;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	margin: auto;
	height: 162px;
	width: 720px;
	top: 0px;
	right: 0px;
}
.nivo-caption p {
	padding: 5px;
	margin: 0;
}
.nivo-caption a { display: inline !important; }
.theme-default .nivo-caption .text {
	font-size: 100px;
	font-weight: 700;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}
.nivo-html-caption { display: none; }
.slider-wrapper.photo-detail .nivo-caption{
	width: auto;
	height: 450px;
	max-width: 1200px;
	line-height: 75px;
	text-align: left !important;
	padding: 0px;
	border: 0;
	font-size: 100px;
	font-weight: 700;
	color: #FFF;
	text-transform: uppercase;
	margin: auto;
	top: 0px;
	bottom: 0px;
}
.slider-wrapper.photo-detail .nivo-caption span{
	font-size: 40px;
	display: block;
	font-weight: 100;
}
.slider-wrapper.photo-detail .nivo-caption .date{
	font-size: 20px;
	font-weight: 100;
}
.slider-wrapper.photo-detail .nivo-caption .date:after,.slider-wrapper.photo-detail.cap-only .nivo-caption:after{
	content: ' ';
	background-color: #fff;
	height: 10px;
	width: 150px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-top:-5px;
}
.slider-wrapper.photo-detail.cap-only .nivo-caption{ height:280px; }
/* Direction nav styles (e.g. Next & Prev) */

.nivo-directionNav a {
	position: absolute;
	bottom: -60px;
	z-index: 9;
	cursor: pointer;
	height: 60px;
	width: 60px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #d8d8d8;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -9999px;
}
.img-slider .nivo-directionNav a{ right:0px; bottom:0px; opacity:.8; border:0; }
.nivo-prevNav {
	right: 60px;
	background-image: url(../images/material/arr-prev.png);
}
.nivo-nextNav {
	right: 0px;
	background-image: url(../images/material/arr-next.png);
}
.img-slider .nivo-directionNav .nivo-prevNav{
	bottom: 60px;
	background-color: #57b4df;
	background-image: url(../images/material/arr-prev-w.png);
}
.img-slider .nivo-directionNav .nivo-nextNav{
	background-color: #342e2d;
	background-image: url(../images/material/arr-next-w.png);
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align: center;
	padding: 15px 0;
	position: absolute;
	bottom: 50px;
	z-index: 50;
	left: 0;
	right: 0;
}
.nivo-controlNav a {
	cursor: pointer;
	background-image: url(../images/material/paging-nivo.png);
	background-repeat: no-repeat;
	background-position: left center;
	display: inline-block;
	height: 20px;
	width: 20px;
	text-indent: -9999px;
	margin-right: 3px;
	margin-left: 3px;
}
.nivo-controlNav a.active { background-position: right; }
