/*=============================================================================================	
	style css decorated by : Web Architect (webarq.com)
==============================================================================================*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700);
/*
	font weight 100  = Roboto Thin
	font weight 300  = Roboto Light
	font weight 400  = Roboto Regular
	font weight 700  = Roboto Bold
*/
body ::selection { background: #2CB3FF; }
body ::-moz-selection {
 background: #2CB3FF;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	color: #666;
	font-size: 12px;
	font-family: 'Roboto';
	font-weight: 300;
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
}
.italic { font-style: italic; }
.bold { font-weight: bold; }
.regular { font-weight: lighter; }
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.afterclear:after {
	content: ' ';
	display: block;
	clear: both;
}
p {
	margin: 1px 0 15px;
	line-height: 25px;
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #53b7e8;
}
input, textarea, select {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	border: 1px solid #D8D8D8;
	padding: 5px;
	margin: 0;
	color: #666;
}
textarea { resize: none; }
input[type=checkbox], input[type=radio] {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
/* structure
----------------------------------------------------------------------------------------------*/
.wrapper {
	width: 960px;
	margin: 0 auto;
}
.wrap-wide {
	width: 1200px;
	margin: 0 auto;
}
.topline {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d8d8d8;
}
#loading {
	background-color: #53b7e8;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	z-index: 999;
	background-image: url(../images/material/loader-fliQ.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.footnote {
	font-size: 16px;
	font-style: italic;
	color: #666;
	margin-bottom: 15px;
}
/* style button
----------------------------------------------------------------------------------------------*/
.btn {
	display: inline-block;
	text-transform: uppercase;
	font-size: 20px;
	padding-top: 10px;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-left: 35px;
	position: relative;
}
.btn.blue {
	background-color: #53b7e8;
	color: #feffff;
}
.btn.blue.anim {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn.blue.anim span {
	position: relative;
	z-index: 2;
}
.btn.blue.anim:after {
	content: ' ';
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 100%;
	background-color: #2a93c6;
	position: absolute;
	z-index: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn.blue.anim:hover:after { bottom: 0px; }
.btn.white {
	background-color: #feffff;
	color: #53b7e8;
}
.btn.sort {
	background-color: #f0f0f0;
	color: #666;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	transition: all 0.8s;
}
.btn.sort:hover { color: #fff; }
.btn.sort span {
	z-index: 2;
	position: relative;
}
.btn.sort:after {
	content: ' ';
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #53b7e8;
	top: 0;
	left: 0px;
	z-index: 1;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.btn.sort:hover:after { width: 100%; }
.btn.sort.active {
	background-color: #53b7e8;
	color: #feffff;
}
.btn.sort.active:hover { content: ' '; }
.link-continue {
	font-size: 16px;
	color: #53b7e8;
	text-transform: uppercase;
	margin-right: 20px;
}
.link-continue:after {
	content: "\2192";
	margin-left: 5px;
}
/* header
----------------------------------------------------------------------------------------------*/
header {
	position: relative;
	text-align: center;
	background-color: #fff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	width: 100%;
	top: 0px;
	z-index: 90;
}
header span.left {
	font-size: 14px;
	text-transform: uppercase;
	color: #999;
	font-weight: 400;
	left: 80px;
	top: 25px;
	position: absolute;
}
header .menu {
	float: left;
	border-right: 1px solid #d8d8d8;
	display: inline-block;
	padding: 10px;
	position: relative;
}
header .menu span {
	content: "";
	background-image: url(../images/material/icon-menu-white.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	height: 47px;
	width: 0px;
	left: 10px;
	top: 10px;
}
header .menu:after {
	content: 'menu';
	position: absolute;
	left: 83px;
	text-transform: uppercase;
	top: 25px;
	font-size: 14px;
	color: #999;
	display: none;
}
header .menu:hover { background-color: #53b7e8; }
header .menu:hover:after { display: block; }
header .logo {
	display: inline-block;
	padding-bottom: 10px;
	padding-top: 10px;
}
header .inquiry {
	float: right;
	background-color: #53B7E8;
	display: inline-block;
	padding: 27px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
	position:relative;
}
header .inquiry span{ z-index:1; position:relative; }
header .inquiry span.hover{
	position: absolute;
	width: 0%;
	height: 100%;
	right: 0;
	top: 0;
	background-color: #F00;
	z-index:0;
	background-color: rgb(0, 75, 111);
}
#main-menu {
	height: 100%;
	position: fixed;
	width: 100%;
	background-image: url(../images/material/white90.png);
	background-repeat: repeat;
	z-index: 101;
	display: none;
	overflow: hidden;
}
#main-menu aside, #main-menu section {
	height: 100%;
	position: relative;
}
#main-menu section {
	width: 70%;
	float: right;
}
#main-menu aside {
	float: left;
	width: 30%;
	background-color: #28769C;
	margin-left: -30%;
}
#main-menu aside .close {
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	background-color: #53b7e8;
}
#main-menu aside .close:hover { background-color: #0e4966; }
#main-menu aside nav {
	height: 560px;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
}
#main-menu aside ul {
	list-style-type: none;
	padding: 0px;
	margin-left: 80px;
}
#main-menu aside ul li { margin-bottom: 30px; }
#main-menu aside ul li a {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	line-height: 25px;
}
#main-menu aside ul li a:hover { color: #a3e1ff; }
#main-menu aside ul li ul {
	position: relative;
	height: auto;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#main-menu aside ul li ul li { margin: 0px; }
#main-menu aside ul li ul li a {
	font-size: 20px;
	color: #CCCCCC;
	font-weight: 100;
	text-transform: none;
}
#main-menu aside ul li ul li a:hover { color: #fff; }
#main-menu aside .socmed {
	margin-left: 80px;
	position: absolute;
	bottom: 40px;
}
#main-menu aside .socmed a{ display:inline-block; margin-right:10px; }
#main-menu section .wrap-sec {
	margin-left: 115px;
	margin-right: 115px;
	height: 600px;
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	opacity: 0;
	display: none;
}
#main-menu section .wrap-sec h4 {
	font-weight: 700;
	text-transform: uppercase;
	color: #53b7e8;
	margin-bottom: 10px;
	margin-top: 30px;
}
.list-blog {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.list-blog li { margin-bottom: 15px; }
.list-blog li h3 {
	margin: 0px;
	line-height: 24px;
}
.list-blog li h3 a {
	font-weight: 100;
	color: #333;
}
.list-blog li h3 a:hover { color: #004b6f; }
.list-blog li span {
	font-style: italic;
	font-weight: 300;
	color: #888;
	font-size: 14px;
}
/* middle
----------------------------------------------------------------------------------------------*/
#middle { position: relative; }
section { position: relative; }
#container {
	height: 100%;
	display: none;
}
#container .con_wrap {
	position: relative;
	height: 100%;
	background-color: #fff;
}
#container.resize { background-color: #000; }
#container.resize .con_wrap {
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
}
#home {
	z-index: 0;
	height: 852px;
	overflow: hidden;
}
#home .items {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	z-index: 0;
	position: relative;
}
#home .items .f_image, #home .items .f_video {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: -1;
	bottom: -1px;
	top: 0;
}
#home .items img {
	width: 100%;
	margin-bottom: -3px;
	opacity: 1;
}
#home .items video {
	z-index: 0;
	height: 100%;
	width:auto;
	opacity:0;
}
#home .items .captions {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	z-index: 88;
	opacity:0;
}
/*#home .items .captions:after {
	content: ' ';
	display: inline-block;
	width: 150px;
	height: 10px;
	background-color: #fff;
}*/
/*#home .items:hover .captions:after{ display:none; }*/
#home .items .captions h2 {
	font-size: 120px;
	font-weight: 700;
	color: #fff;
	line-height: 90px;
	text-transform: uppercase;
	margin: 0px;
	text-align: center;
	display: inline-block;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 28px;
	padding-left: 20px;
}
#home .items .captions h2 a{ color:#fff; }
#home .items .captions h2 span { display: block; }
.home-info {
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
	background-color: #fff;
}
.home-info .main-title {
	font-size: 50px;
	font-weight: 100;
	text-transform: uppercase;
	line-height: 50px;
	margin-bottom: 30px;
	margin-right: 30px;
	margin-left: 30px;
}
.home-info p {
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
}
.home-info .main-title span { color: #53b7e8; }
.icon-list {
	padding: 0px;
	list-style-type: none;
	width: 1040px;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
}
.icon-list.inline-pop { width: auto; }
.icon-list li {
	float: left;
	margin-right: 70px;
	position: relative;
}
.icon-list.inline-pop li {
	margin-right: 10px;
	width: 120px;
	text-align: center;
}
.icon-list.inline-pop li:after {
	width: 120px;
	height: 120px;
}
.icon-list li:last-child { margin-right: 0px; }
.icon-list li div {
	height: 150px;
	width: 150px;
	border: 1px solid #d0d0d0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-bottom: 15px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background-size: 120px 120px;
	position: relative;
	overflow: hidden;
	z-index: 2;
	cursor:pointer;
}
.icon-list li div a {
	text-indent: -9999px;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left:0;
}
.icon-list li:after {
	height: 150px;
	width: 150px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #53b7e8;
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	transform: scale(0, 0);
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.icon-list li:hover:after {
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}
.icon-list li:hover div { background-size: 100px 100px; }
.icon-list.inline-pop li div {
	width: 120px;
	height: 120px;
}
/*.icon-list li div:hover, */.icon-list.inline-pop li.active div {
	background-color: #53b7e8;
	border-top-color: #53b7e8;
	border-right-color: #53b7e8;
	border-bottom-color: #53b7e8;
	border-left-color: #53b7e8;
	background-size: 120px 120px;
}
.icon-list li div.strategy { background-image: url(../images/material/icon-service-03.png); }
.icon-list li div.prepro { background-image: url(../images/material/icon-service-05.png); }
.icon-list li div.pro { background-image: url(../images/material/icon-service-07.png); }
.icon-list li div.digital { background-image: url(../images/material/icon-service-09.png); }
.icon-list li div.reporting { background-image: url(../images/material/icon-service-11.png); }
.icon-list li:hover div.strategy, .icon-list li.active div.strategy { background-image: url(../images/material/icon-service-active-03.png); }
.icon-list li:hover div.prepro, .icon-list li.active div.prepro { background-image: url(../images/material/icon-service-active-05.png); }
.icon-list li:hover div.pro, .icon-list li.active div.pro { background-image: url(../images/material/icon-service-active-07.png); }
.icon-list li:hover div.digital, .icon-list li.active div.digital { background-image: url(../images/material/icon-service-active-09.png); }
.icon-list li:hover div.reporting, .icon-list li.active div.reporting { background-image: url(../images/material/icon-service-active-11.png); }
.icon-list li span {
	font-size: 16px;
	text-transform: uppercase;
	color: #333;
}
.icon-list.inline-pop li span { font-size: 14px !important; }
.box-getstart {
	background-color: #53b7e8;
	padding-top: 70px;
	padding-bottom: 70px;
	position: relative;
	z-index: 1;
}
.box-getstart p {
	font-size: 25px;
	font-weight: 100;
	color: #fff;
	margin: 0px;
}
.box-getstart .btn {
	margin-top: -33px;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	transition: all 0.8s;
}
.box-getstart .btn:hover {
	color: #fff;
	background-color: #53b7e8;
}
.list-gallery {
	padding: 0px;
	list-style-type: none;
}
.list-gallery li {
	float: left;
	position: relative;
	width: 33.33%;
}
.list-gallery li .company-logo {
	position: absolute;
	margin: auto;
	height: 100px;
	width: 235px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}
.list-gallery li img { margin-bottom: -3px; }
.list-gallery.main_menu li .hover {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	display: none;
	background-image: url(../images/material/blue60.png);
	background-repeat: repeat;
}
.list-gallery.main_menu li .hover .img {
	width: 77px;
	opacity: 0;
	height: 77px;
	margin: auto;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: -100px;
	position: absolute;
}
.list-gallery.main_menu li { overflow: hidden; }
/*.list-gallery.main_menu li .hover div{
	border: 1px solid #FFF;
	z-index: 2;
	margin: auto;
	height: 110%;
	width: 110%;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}*/
.list-gallery.main_menu li .hover div a {
	position: absolute;
	text-indent: -9999px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 5;
}
#banner-content {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 0;
}
#banner-content .f_video {
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: -1;
}
#banner-content video {
	z-index: -1;
	width: 100%;
	height: auto;
}
#banner-content .captions {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 1200px;
	height: 300px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-left: 20px;
}
#banner-content .captions:after {
	content: ' ';
	display: inline-block;
	width: 150px;
	height: 10px;
	background-color: #fff;
}
#banner-content .captions h2 {
	font-size: 100px;
	font-weight: 700;
	color: #fff;
	line-height: 90px;
	text-transform: uppercase;
	margin: 0px;
	padding-bottom: 20px;
}
#banner-content .captions h2 span { display: block; }
#banner-content .captions .brand {
	font-size: 40px;
	font-weight: 100;
	text-transform: uppercase;
	color: #fff;
}
#banner-content .captions p {
	font-size: 18px;
	color: #fff;
	font-weight: 100;
}
nav#banner {
	height: 60px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	position: relative;
	z-index: 6;
	text-align: center;
	width: 100%;
	top: 0px;
	background-color: #fff;
	z-index: 91;
}
nav#banner span {
	font-size: 30px;
	text-transform: uppercase;
	color: #000;
	font-weight: 700;
	display: inline-block;
	margin-top: 10px;
}
nav#banner a {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d8d8d8;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: center center;
}
nav#banner a.share { background-image: url(../images/material/icon-share.png); }
nav#banner a.more { background-image: url(../images/material/icon-more2.png); }
nav#banner a.prev {
	background-image: url(../images/material/arr-prev.png);
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #d8d8d8;
}
nav#banner a.next {
	background-image: url(../images/material/arr-next.png);
	border: 0;
}
.view-column {
	display: inline-block;
	width: 100%;
}
.view-column h5 {
	font-weight: 700;
	color: #53b7e8;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.view-column > div { float: left; }
.view-column.two > div { width: 50% }
.view-column.like-gallery > div { position: relative; }
.view-column.like-gallery > div img { width: 100%; }
.view-column.like-gallery > div .company-logo {
	position: absolute;
	margin: auto;
	height: 100px;
	width: 235px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}
.view-column.services { min-height: 719px; }
.view-column.services div { padding-top: 70px; }
.view-column.services h3 {
	font-size: 24px;
	font-weight: 700;
	color: #53b7e8;
	margin-bottom: 7px;
}
.view-column.services .head {
	font-size: 40px;
	font-weight: 100;
	color: #666;
	line-height: 40px;
}
.view-column.services ul {
	margin-top: 20px;
	margin-bottom: 30px;
	padding-left: 0px;
}
.view-column.services ul li {
	display: block;
	font-size: 16px;
	color: #53b7e8;
	background-image: url(../images/material/list-type.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	margin-bottom: 7px;
}
#infoClient {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	padding-top: 25px;
	padding-bottom: 20px;
}
#infoClient > div > div {
	float: left;
	width: 25%;
	font-size: 18px;
	text-transform: uppercase;
	color: #000;
}
#infoClient > div > div span {
	display: block;
	font-size: 12px;
	text-transform: none;
	color: #999;
}
.content-wording {
	margin-top: 70px;
	margin-bottom: 70px;
}
.content-wording .tagline {
	font-size: 50px;
	font-weight: 100;
	text-transform: uppercase;
	line-height: 44px;
	letter-spacing: -2px;
	color: #111;
}
.content-wording .image {
	float: none;
	width: auto !important;
	margin-bottom: 30px;
}
.content-wording .info { margin-top: 20px; }
.content-wording .info .date {
	font-size: 14px;
	font-weight: 400;
	background-image: url(../images/material/icon-datepost.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 25px;
	display: inline-block;
	padding-top: 1px;
	padding-bottom: 1px;
}
.content-wording .info .category {
	background-image: url(../images/material/icon-categorypost.png);
	display: inline-block;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: left center;
	margin-left: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.content-wording .info .category span { color: #53b7e8; }
.content-wording .info .category strong {
	font-weight: 700;
	font-style: italic;
}
.content-wording .qualification { }
.content-wording .qualification h3 {
	font-weight: 700;
	margin: 0px;
}
.content-wording .qualification ul {
	list-style-image: url(../images/material/list-type.jpg);
	padding-left: 15px;
	margin-bottom: 30px;
}
.content-wording .qualification ul li {
	font-size: 16px;
	margin-bottom: 10px;
}
.img-thumb {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: -1px;
	margin-left: 0px;
}
.img-thumb li {
	width: 20%;
	overflow: hidden;
	cursor: pointer;
}
.img-thumb li > img { width: 100%; }
.img-thumb li .hover {
	background-image: url(../images/material/blue60.png);
	background-repeat: repeat;
	background-position: center;
	position: absolute;
	display: block;
	z-index: 2;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: none;
}
.img-thumb li .hover .icon {
	position: absolute;
	margin: auto;
	height: 77px;
	width: 77px;
	left: 0px;
	top: -50px;
	right: 0px;
	bottom: 0px;
}
.list-gallery li .hover.top { top: -100%; }
.list-gallery li .hover.bottom { bottom: -100%; }
.list-gallery li .hover.left {
	left: -100%;
	top: 0px;
}
.list-gallery li .hover.right {
	right: -100%;
	top: 0px;
}
/*.img-thumb li .hover:after {
	content: url(../images/material/icon-camera.png);
	position: absolute;
	display: inline-block;
	margin: auto;
	height: 80px;
	width: 77px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
.img-thumb li:hover .hover { display: block; }*/
#client {
	background-color: #f0f0f0;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	margin-top: -2px;
}
#client .title {
	font-size: 50px;
	font-weight: 100;
	text-transform: uppercase;
	line-height: 50px;
	margin-bottom: 30px;
	margin-right: 30px;
	margin-left: 30px;
}
#client ul {
	list-style-type: none;
	padding: 0px;
	margin-top: 60px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#client ul li {
	float: left;
	height: 150px;
	width: 240px;
	cursor: pointer;
}
#client ul li:nth-child(even) { background-color: #fff; }
#client ul li img {
	filter: url(filters.svg#grayscale);
	filter: gray;
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
}
#client ul li:hover img {
	filter: none;
	-webkit-filter: none;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	transition: all 0.8s;
}
.service:hover {
	background-color: #231f20;
	color: #ccc;
}
.service {
	background-color: #f0f0f0;
	color: #666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	transition: all 0.8s;
}
.service:first-child {
	background-image: url(../images/material/line-grey.jpg);
	background-repeat: repeat-y;
	background-position: right;
}
.service {
	text-align: center;
	height: 420px;
	position: relative;
}
.service a {
	font-size: 16px;
	color: #53b7e8;
	text-transform: uppercase;
	margin-right: 20px;
}
.service a:after {
	content: "\2192";
	margin-left: 5px;
}
.service span {
	font-size: 12px;
	text-transform: uppercase;
}
.service .title {
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
}
.service:hover .title { color: #fefefe; }
.service .title { color: #333; }
.service .wrap, .gallery .wrap {
	height: 194px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
	width: 500px;
	left: 0px;
	right: 0px;
}
.gallery p, .service p { margin-bottom: 40px; }
.main-gallery {
	margin-top: 70px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.main-gallery li {
	width: 33.3%;
	margin: 0px;
	overflow: hidden;
}
.main-gallery li img { width: 100%; }
.main-gallery li .hover {
	background-image: url(../images/material/blue60.png);
	background-repeat: repeat;
	background-position: center;
	position: absolute;
	width : 100%;
	height: 100%;
	display: none;
	z-index: 2;
	top : 0px;
}
.main-gallery li .company-logo { width: 300px; }
.main-gallery li .hover.with-text {
	background-image: url(../images/material/blue60.png);
	background-repeat: repeat;
}
.main-gallery li .hover.with-text a{
	position: absolute;
	z-index: 4;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	text-indent:-9999px;
}
.main-gallery li .hover.with-text .wrap-text {
	position: absolute;
	z-index: 3;
	left: 20px;
	top: -60px;
	right: 20px;
	bottom: 0px;
	color: #fff;
	height: 265px;
	margin-top: auto;
	margin-bottom: auto;
	opacity: 0;
}
.main-gallery li .hover.with-text .wrap-text .name { font-size: 20px; }
.main-gallery li .hover.with-text .wrap-text .main-cap {
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 33px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.main-gallery li .hover.with-text .wrap-text .date { font-size: 14px; }
.main-gallery li .hover.with-text .wrap-text .img {
	width: 77px;
	margin-top: 100px;
	opacity: 0;
	height: 77px;
	margin-right: auto;
	margin-left: auto;
}
/*.main-gallery li .hover.with-text .wrap-text:after {
	content: url(../images/material/icon-picture.png);
	display: block;
	margin-top: 20px;
}
.main-gallery li:hover .hover { display: block; }
.main-gallery li:hover .company-logo { display: none; }*/
#main-gallery {
	text-align: center;
	padding-top: 70px;
	background-color: #fff;
}
#main-gallery .title {
	font-size: 50px;
	font-weight: 100;
	text-transform: uppercase;
	line-height: 50px;
	margin-bottom: 30px;
	margin-right: 30px;
	margin-left: 30px;
}
#main-gallery a {
	margin-left: 3px;
	margin-right: 3px;
}
#main-gallery nav {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d8d8d8;
	padding-top: 30px;
}
#main-gallery nav a {
	font-size: 14px;
	float: left;
}
#main-gallery nav a:first-child { margin-left: 20px; }
#main-gallery nav a.more {
	background-image: url(../images/material/icon-more.png);
	background-repeat: no-repeat;
	background-position: right center;
	float: right;
	display: inline-block;
	color: #666;
	padding-right: 35px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 20px;
	margin-top: 5px;
}
#loadmore {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	background-color: #f0f0f0;
}
#loadmore span {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	background-image: url(../images/material/icon-loadmore.png);
	background-repeat: no-repeat;
	background-position: left;
	display: inline-block;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 35px;
}
.display-image {
	display: inline-block;
	width: 100%;
}
.display-image div {
	float: left;
	margin-bottom: 10px;
}
.display-image div img { margin-bottom: -3px; }
.display-image div:last-child { margin-left: 10px; }
#contact {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
}
#contact .title {
	font-size: 50px;
	font-weight: 100;
	text-transform: uppercase;
	line-height: 50px;
	margin-right: 30px;
	margin-left: 30px;
	color: #111;
	margin-bottom: 15px;
}
#contact .list-contact {
	list-style-type: none;
	padding: 0px;
	margin-top: 70px;
	margin-right: 0px;
	margin-bottom: 70px;
	margin-left: 0px;
}
#contact .list-contact li {
	float: left;
	text-align: center;
	width: 25%;
}
#contact .list-contact li div {
	display: inline-block;
}
#contact .list-contact li div > .icon {
	height: 90px;
	width: 90px;
	overflow: hidden;
}
#contact .list-contact li div > .icon img { position: relative; }
#contact .list-contact li div:hover a { text-decoration: underline; }
#contact .list-contact li span {
	font-size: 20px;
	font-weight: 300;
	color: #666;
	display: block;
}
#contact .list-contact li a {
	font-size: 16px;
	color: #53b7e8;
	font-weight: 400;
}
#contact .address {
	display: block;
	width: 100%;
}
#contact .address .address-tabs {
	display: table;
	width: 100%;
}
#contact .address .address-tabs div {
	display: table-cell;
	color: #fff;
	vertical-align: middle;
	padding-top: 15px;
	padding-bottom: 15px;
}
#contact .address .address-tabs div span {
	font-size: 20px;
	vertical-align: middle;
	display: inline-block;
	margin-left: 10px;
}
#contact .address .address-tabs div span.small {
	font-size: 14px !important;
	text-align: left;
	line-height: 14px;
}
#contact .address .address-tabs div img { vertical-align: middle; }
#contact .address .address-tabs div:nth-child(1) {
	background-color: #53b7e8;
	width: 180px;
}
#contact .address .address-tabs div:nth-child(2) {
	background-color: #349bce;
	width: 300px;
}
#contact .address .address-tabs div:nth-child(3) {
	background-color: #1b83b7;
	width: 260px;
}
#contact .address .address-tabs div:nth-child(4) {
	background-color: #116c99;
	width: 260px;
}
#contact .address .address-tabs div:nth-child(5) {
	background-color: #175d7f;
	width: 160px;
	position: relative;
	background-image: url(../images/material/icon-navigation.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -9999px;
}
#contact .address .address-tabs div:nth-child(5) a {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
#contact .address .address-tabs div:nth-child(5):hover { background-color: #53b7e8; }
.list-careers {
	padding: 0px;
	list-style-type: none;
}
.list-careers li { margin-bottom: 25px; }
.list-careers li a {
	font-weight: 700;
	color: #53b7e8;
	font-size: 23px;
}
.list-careers li a:hover { color: #004b6f; }
.list-careers li p { font-size: 15px; }
nav.paging { }
nav.paging a {
	display: inline-block;
	background-color: #ccc;
	color: #666;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	width: 18px;
	padding: 5px;
	margin-right: 3px;
}
nav.paging a.active {
	background-color: #53b7e8;
	color: #fff;
}
#job {
	background-color: #f0f0f0;
	text-align: center;
}
#job img {
	margin-bottom: -3px;
	margin-top: 30px;
}
#job .title {
	font-size: 50px;
	font-weight: 100;
	text-transform: uppercase;
	line-height: 50px;
	margin-right: 30px;
	margin-left: 30px;
	color: #111;
	margin-bottom: 15px;
	padding-top: 50px;
}
.popup {
	width: 0%;
	height: 0%;
	background-color: #dfdfdf;
	overflow: hidden;
	display: none;
	margin: auto;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
.popup .close {
	position: absolute;
	right: -80px;
	top: 0px;
	cursor: pointer;
	background-color: #53b7e8;
}
.popup .close:hover { background-color: #0e4966; }
.popup .wrap_popup {
	width: 650px;
	text-align: center;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-bottom: 50px;
}
.popup .wrap_popup .title {
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 50px;
	margin-right: 30px;
	margin-left: 30px;
	color: #111;
	margin-bottom: 5px;
	padding-top: 50px;
}
.popup .wrap_popup p { color: #666; }
.popup .wrap_popup .row {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #53b7e8;
	text-align: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.popup .wrap_popup .row label {
	display: block;
	font-size: 24px;
	font-weight: 700;
	color: #333;
}
.popup .wrap_popup .row input[type=text], .popup .wrap_popup .row textarea, .popup .wrap_popup .row select {
	background: transparent;
	font-size: 30px;
	font-weight: 700;
	color: #999;
	border: 0;
	width: 620px;
}
.popup .wrap_popup .row span {
	font-size: 30px;
	font-weight: 700;
	color: #999;
}
.popup .wrap_popup form input[type=submit] {
	font-weight: 100 !important;
	font-size: 20px;
	font-family: Roboto;
	margin-top: 25px;
}
.popup .wrap_popup form input[type=file] {
	background: transparent;
	font-size: 30px;
	font-weight: 700;
	color: #999;
	border: 0;
	width: 610px;
}
.popup .wrap_popup form .wrap-file {
	display: inline-block;
	position: relative;
}
.popup .wrap_popup form .wrap-file span {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}
.popup .wrap_popup form .wrap-file input {
	opacity: 0;
	position: relative;
	z-index: 2;
}
.circle-step {
	background-color: #53b7e8;
	display: inline-block;
	height: 110px;
	width: 110px;
	font-size: 36px;
	font-weight: 100;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	line-height: 105px;
	margin-bottom: 40px;
	margin-top: 20px;
}
section#strategy {
	background-image: url(../images/content/bg-box-fliq.png);
	background-repeat: no-repeat;
	background-position: right top;
}
section#digital {
	background-image: url(../images/content/bg-digitalmarketing.png);
	background-repeat: no-repeat;
	background-position: 70px top;
	height: 800px;
}
#video { margin-bottom: 50px; }
#googleMaps { height: 450px; }
/*------css animate border-----*/
.w-border { position: relative; overflow:hidden; }
.w-border .line {
	position: absolute;
	background-color: #fff;
}
.w-border .line.top, .w-border .line.bottom { height: 10px; }
.w-border .line.left, .w-border .line.right { width: 10px; }
.w-border .line.top {
	top: 0px;
	right: -13px;
}
.w-border .line.bottom {
	bottom: 0px;
	left: 0px;
	right: 70%;
}
.w-border .line.left {
	left: 0px;
	top: -13px;
	bottom: 107%;
}
.w-border .line.right {
	right: 0px;
	bottom: -13px;
}
/*------end css animate border-----*/

/*------css animate fliping-----*/
.fliping {
	height: 852px;
	z-index: 3;
}
.fliping .slide {
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 0;
	opacity: 1;
}
.fliping .slide.play {
	z-index: 3;
	opacity: 1;
}
.fliping .slide.next {
	z-index: 2;
	opacity: 1;
}
.fliping .slide div {
	overflow: hidden;
	-webkit-transform: rotateY(0deg); /* Chrome, Safari, Opera */
	transform: rotateY(0deg);
}
.fliping .slide.one { }
.fliping .slide.two div { height: 50%; }
.fliping .slide.four div {
	height: 50%;
	width: 50%;
	float: left;
}
.fliping .slide.nine div {
	height: 33.33%;
	width: 33.33%;
	float: left;
}
.fliping .slide.six-ten div {
	height: 25%;
	width: 25%;
	float: left;
}
/*------end css animate border-----*/
/* footer
----------------------------------------------------------------------------------------------*/
footer {
	position: relative;
	padding: 13px;
	background-color: #fff;
}
/*footer.home {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}*/
footer p {
	float: left;
	font-weight: 400;
	margin: 0px;
	font-size: 12px;
}
footer .socmed-foot { float: right; }
footer .socmed-foot a {
	display: inline-block;
	overflow: hidden;
	position: relative;
}
footer .socmed-foot a span {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
footer .socmed-foot a:hover span { display: block; }
footer .socmed-foot a:hover > img { opacity: 0; }
footer:after {
	content: ' ';
	display: block;
	clear: both;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/**/
/*css for firefox only*/
@-moz-document url-prefix() {
 .main-gallery li img {
margin-bottom:-4px
}
#client ul li img {
 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
}
/*style if ie 8*/
.chromeframe {
	font-size: 30px;
	text-align: center;
	font-weight: 100;
	position: absolute;
	width: 100%;
	top: 50%;
	line-height: 32px;
	color: #888;
	margin-top: -30px;
}
.chromeframe a { color : #53b7e8; }
 @media only screen and (max-width: 480px) {
/* Mobile styles */
}
 @media screen and (min-width:481px) and (max-width:1024px) {
/* Tablet styles */
}
 @media only screen and (min-width: 1140px) {
/* Desktop styles */
}
